----- Luabuild default configuration
OPTIMIZE='O2'
-- or you can get a debug build
--DEBUG = true

-- this is the default; build with as much 5.1 compatibility as possible
no_lua51_compat = false

if  not STATIC then
    build_shared = true
    --the excutable/lib will find its modules in $LB/libs and $LIB/lua
    custom_lua_path = true
    -- default to linking against linenoise - set READLINE if you really
    -- want the old dog back
    readline = READLINE and true or 'linenoise'
else
    --it will be a statically-linked executable that can't link dynamically
    no_dlink = true
    -- can switch off readline (useful for self-contained executables)
    readline = false
end

-- set this if you want MSVC builds to link against runtime
-- (they will be smaller but less portable)
dynamic = DYNAMIC

if not STATIC then
    name = 'lua52'
else
    name = 'lua52s'  -- for 'static'
end

if PLAT == 'Windows' then
    dll = name
end

if PLAT == 'Windows' then
    include = 'lfs winapi socket.core mime.core lpeg struct'
    if CC ~= 'cl' then -- sorry, MSVC does not do C99 complex...
        include = include .. ' complex'
    end
else
    include = 'lfs socket.core mime.core lpeg complex posix_c struct '
    if not READLINE then
        include = include .. ' linenoise '
    end
    if PLAT == 'Linux' then
        include = include .. ' inotify '
    end
    -- either satisfy external requirements, or just leave these out
    --include = include .. ' curses_c ltcl lxp lsqlite3'
end





